ul {
	text-align: left;
	line-height: 1.8;
}

a {
	color: inherit;
	transition: color 400ms ease-out;
	text-decoration: none;
  border-bottom: 4px solid deeppink;
}

a:hover {
	color: deeppink;
}

::selection {
	background-color: deeppink;
	color: white;
}

pre {
	font-size: 2.2vw;
	text-align: left;
}

img[alt~="opengraph"] { width: 45vw; }
img[alt~="react-detect-offline"] { width: 80vw; }
img[alt~="ga"] { width: 40vw; }
img[alt~="react-detect-offline"] { width: 60vw; }
img[alt~="skycoins"] { width: 30vw; }
img[alt~="translation"] { width: 30vw; }
